/asteroid-client/src/**/*.js
**/.idea
**/node_modules
asteroid-client/build
asteroid-server/dist
/asteroid-client/docker/www
/asteroid-client/npm-debug.log
/asteroid-server/*.log
/asteroid-server/*.trace
